.thread-list
  margin: 10px 15px

ul
  list-style-type: none
  background-color: slategray
  color: #ddd
  border-radius: 15px
  padding: 10px

  box-shadow: 0px 3px 3px rgba(0,0,0, 0.6)

  .thread-info
    padding-left: 10px
    padding-bottom: 15px
    margin-top: 10px
  p
    color: white
    font-size: 20px
    padding: 10px
    padding-top: 0
    margin-top: 10px
    font-weight: 700
    width: 100%
    border-bottom: 1px solid white
  a
    color: aqua